<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hcmute.edu.vn.mssv18110326">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.Admin.AdminHomeActivity"></activity>
        <activity android:name=".Activity.Admin.AdminProductFragmentActivity" />
        <activity android:name=".Activity.UpdatePasswordActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.ForgotActivity" />
        <activity android:name=".Animation.LoadAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.BillDetaiilsActivity" />
        <activity android:name=".Activity.ListUserActivity" />
        <activity android:name=".Activity.ChatMessageActivity" />
        <activity android:name=".Activity.ChatDialogActivity" />
        <activity android:name=".Activity.ChatMainActivity" />
        <activity android:name=".MainActivity2" />

        <meta-data
            android:name="com.zing.zalo.zalosdk.appID"
            android:value="@string/appID" />

        <activity
            android:name=".Activity.OpenZaloActivity"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PaymentActivity"
            android:label="Thanh toán dịch vụ"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.DetailsActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterAcitivity" />
        <activity android:name=".Activity.DoneActivity" />
    </application>

</manifest>